version: 0.9b
source: "https://github.com/VicenteRD/PomodoroBot/"
author_name: Sherpa#5493

## Bot settings

description : A marinara timer bot that can be configured to your needs.

admin_id : 87387330037448704
bot_friend_role_id : 249727962214039554

command_prefix : !

startup_msg : Beep boop. I'm back online, ready to ~~take over the world~~ help your productivity!

response_lifespan : 15

# Timer settings

# A list of the channels where timers are allowed.
channel_whitelist : [1_study_session, 2_study_session, 3_unmuted_study]

# The pomodoro timer periods that are set if 'default' or no setup is given.
# The 'out' value is only used when 'timer setup help' is called, so it's only a guide.
default_setup : {in - (2xStudy:32.Break:8).Study:32.Long_Break:15, out - 32.8.32.8.32.15}

# The time, in seconds, at which the timer should tick. 2 is recommended, as 1 second will
# get the bot rate-limited.
timer_step : 2